<div class="wrapper flexCenter">
    <div class="formWrapper">
        <form class="form">
            <h1>Авторизация</h1>

            {{{LabelInput label="Логин" name="login" validation="login"}}}
            {{{LabelInput label="Пароль" name="password" type="password" validation="password"}}}

            {{{Button label="Вход" type="submit" width="100%" onClick=onClick}}}

            {{{Link label="Регистрация" to="/signup"}}}
        </form>
    </div>
</div>
