<div class="changeDataProfileWrapper">
    <div class="changeDataProfileContainer">
        <div class="avatar"></div>
        <div class="field">
            <label for="email">Почта</label>
            <input id="femail" type="text" dir="rtl" value="test"/>
        </div>
        <div class="field">
            <label for="login">Логин</label>
            <input id="flogin" type="text" dir="rtl" value="test"/>
        </div>
        <div class="field">
            <label for="first_name">Имя</label>
            <input id="first_name" type="text" dir="rtl" value="test"/>
        </div>
        <div class="field">
            <label for="second_name">Фамилия</label>
            <input id="second_name" type="text" dir="rtl" value="test"/>
        </div>
        <div class="field">
            <label for="chat_name">Имя в чате</label>
            <input id="chat_name" type="text" dir="rtl" value="test"/>
        </div>
        <div class="field">
            <label for="phone">Телефон</label>
            <input id="phone" type="text" dir="rtl" value="test"/>
        </div>
        <button>Сохранить</button>
    </div>
</div>