<main class="changeDataProfileWrapper">
    <form class="changeDataProfileContainer">
        {{{avatar}}}
        <h2>Изменение данных</h2>
        {{#each fields}}
            {{{ this }}}
        {{/each}}
        <input type="file" id='changeAvatar'/>
        {{{saveAvatar}}}
        {{{saveInfo}}}
    </form>
</main>
