<main class="changeDataProfileWrapper">
    <form class="changeDataProfileContainer">
        <div class="avatar"></div>
        <h2>Изменение данных</h2>
        {{#each fields}}
            {{{ this }}}
        {{/each}}
        {{{saveInfo}}}
    </form>
</main>
