<main class="changeDataProfileWrapper">
    <form class="changeDataProfileContainer">
        <div class="avatar"></div>
        <div class="field">
            <label for="email">Почта</label>
            <input id="femail" type="text" value="test" name="email" pattern="([A-zА-я])+([0-9\-_\+\.])*([A-zА-я0-9\-_\+\.])*@([A-zА-я])+([0-9\-_\+\.])*([A-zА-я0-9\-_\+\.])*[\.]([A-zА-я])+"/>
        </div>
        <div class="field">
            <label for="login">Логин</label>
            <input id="flogin" type="text" value="test" name="login" pattern="/^[a-zA-Z0-9]+$/"/>
        </div>
        <div class="field">
            <label for="first_name">Имя</label>
            <input id="first_name" type="text" value="test" name="first_name" pattern="^[?!,.а-яА-ЯёЁв\s]+$"/>
        </div>
        <div class="field">
            <label for="second_name">Фамилия</label>
            <input id="second_name" type="text" value="test" name="second_name" pattern="^[?!,.а-яА-ЯёЁв\s]+$"/>
        </div>
        <div class="field">
            <label for="chat_name">Имя в чате</label>
            <input id="chat_name" type="text" value="test" name="chat_name" />
        </div>
        <div class="field">
            <label for="phone">Телефон</label>
            <input id="phone" type="text" value="test" name="phone" pattern="^(\+7|7|8)?[\s\-]?\(?[489][0-9]{2}\)?[\s\-]?[0-9]{3}[\s\-]?[0-9]{2}[\s\-]?[0-9]{2}$"/>
        </div>
        <button>Сохранить</button>
    </form>
</main>