<div class="wrapper flexCenter">
    <div class="formWrapper">
        <form class="form">
            <h1>Изменить пароль</h1>
            {{{LabelInput label="Старый пароль" name="oldPassword" type="password" validation="password"}}}
            {{{LabelInput label="Новый пароль" name="newPassword" type="password" validation="password"}}}
            {{{Button label="Сохранить" type="submit" onClick=onClick}}}
            <div class="flexСenter">
                {{{Link label="На страницу профиля" to="/profile"}}}
            </div>
        </form>
    </div>
</div>
