<nav class="navigation">
  <ul>
    <li>
      <a href="/404">404</a>
    </li>
    <li>
      <a href="/500">500</a>
    </li>
    <li>
      <a href="/registration">Регистрация</a>
    </li>
    <li>
      <a href="/login">Авторизация</a>
    </li>
    <li>
      <a href="/chats">Чаты</a>
    </li>
    <li>
      <a href="/profile">Профиль</a>
    </li>
    <li>
      <a href="/changePassword">Изменение пароля</a>
    </li>
    <li>
      <a href="/changeData">Изменение данных пользователя</a>
    </li>
  </ul>
</nav>