<li class="{{styles.chatItem}}">
    <div class="{{styles.avatar}}"></div>
        <div class="{{styles.info}}">
        <h4>Дмитрий</h4>
        <span>Изображение</span>
    </div>
    <div class="{{styles.aboutMessages}}">
        <span>10:56</span>
        <span>2</span>
    </div>
</li>
