@import "../../mixins/mixins";

.profileWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .avatar {
        @include avatar;

        width: 100px;
        height: 100px;
    }

    .field {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #eaeaea;

        span:not(:first-child) {
            margin-top: 12px;
        }
    }

    .settings {
        margin-top: 32px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        a:not(:first-child) {
            margin-top: 12px;
        }

        a:not(:last-child) {
            border-bottom: 1px solid #eaeaea;
        }

        a:last-child {
            color: red;
        }
    }
}
