@use "../../styles/variables";
@use "../../styles/mixins";

.content {
  @include mixins.flex-center;

  width: 600px;
  flex-direction: column;
  gap: 60px;

  .avatar {
    @include mixins.flex-center;

    flex-direction: column;
  }

  .informations {
    width: 100%;
    border-radius: 15px;
    padding: 20px;
  }

  .buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.profileInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid variables.$color-gray-light;
  padding-bottom: 10px;
  margin-bottom: 16px;

  &__value {
    color: variables.$color-gray;
  }
}
