<main class="changePasswordProfileWrapper">
    <form class="changePasswordProfileContainer">
        <div class="avatar"></div>
        {{{oldPassword}}}
        {{{newPassword}}}
        {{{newPasswordAgain}}}
        {{{saveButton}}}
    </form>
</main>
