@import '../../mixins/mixins.scss';

.changePasswordProfileWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.changePasswordProfileContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .avatar {
        @include avatar;

        width: 100px;
        height: 100px;
    }

    .field {
        border-bottom: 1px solid #EAEAEA;
        width: 100%;
        display: flex;
        justify-content: space-between;

        &:not(:first-child) {
            margin-top: 12px;
        }
        
        input {
            color: #999;
            outline: none;
            border: none;
        }
    }

    button {
        @include login-register-form-button;

        margin-top: 32px;
    }
}