<main class="changePasswordProfileWrapper">
    <form class="changePasswordProfileContainer">
        <div class="avatar"></div>
        <div class="field">
            <label for="old_password">Старый пароль</label>
            <input type="password" id="old_password" value="test" dir="rtl" name="old_password"/>
        </div>
        <div class="field">
            <label for="new_password">Новый пароль</label>
            <input type="password" id="new_password" value="test" dir="rtl" name="new_password"/>
        </div>
        <div class="field">
            <label for="repeat_new_password">Повторите новый пароль</label>
            <input type="password" id="repeat_new_password" value="test" dir="rtl" name="repeat_new_password"/>
        </div>
        <button>Сохранить</button>
    </form>
</main>