.messenger {
    display: flex;
    flex-flow: column;
    padding: 10px 30px;
}

.messengerMessages {
    display: flex;
    flex-direction: column;
}

.messengerFooter {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin-top: auto;

    input {
        width: 100%;
        border-radius: 0;
    }

    button {
        margin-left: auto;
    }
}
