<main class="loginWrapper">
    <form class="loginContainer">
        <h2>Вход</h2>
        {{{loginInput}}}
        {{{passwordInput}}}
        {{{buttonLogin}}}
        {{{noAccount}}}
    </form>
</main>
