<div class="loginWrapper">
    <div class="loginContainer">
        <h2>Вход</h2>
        <div class="field">
            <label for="login">Логин</label>
            <input type="text" id="login" name="login"/>
        </div>
        <div class="field">
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password"/>
        </div>
        <button>Авторизоваться</button>
        <a>Нет аккаунта?</a>
    </div>
</div>