<main class="loginWrapper">
    <form class="loginContainer">
        <h2>Вход</h2>
        <div class="field">
            <label for="login">Логин</label>
            {{{inputLogin}}}
        </div>
        <div class="field">
            <label for="password">Пароль</label>
            {{{inputPassword}}}
        </div>
        {{{button}}}
        <a>Нет аккаунта?</a>
    </form>
</main>
