.modal {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(0 0 0 / 50%);
    z-index: 1050;
    margin: 0;
    padding: 0;
    color: red;
}

.blockModal {
    margin: auto;
    top: 0;
    bottom: 0;
    width: 340px;
    min-height: 250px;
    background: var(--main-bg-color);
    box-shadow: 0 0 6px rgb(0 0 0 / 14%);
    border-radius: 12px;
    display: flex;
    flex-flow: column;
}

.blockTitleModal {
    text-align: center;
    padding-top: 20px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: var(--main-text-color);
}

.blockBodyModal {
    flex: 1;
    display: flex;
    flex-flow: column;
    margin-bottom: 30px;
}

.blockFooterModal {
    padding-bottom: 30px;
    display: flex;
    flex-flow: column;
    align-items: center;
}
