%login-register-form-button {
    cursor: pointer;
    color: white;
    background: #3369F3;
    border-radius: 8px;
    padding: 12px 70px;
    outline: none;
    border: none;
}

%input-form {
    border: none;
    outline: none;
    border-bottom: 0.5px solid blue;
}