<main class="registerWrapper">
    <form class="registerContainer">
        <h3>Регистрация</h3>
        <div class="field">
            <label for="email">Почта</label>
            <input type="text" id="email" name="email"/>
        </div>
        <div class="field">
            <label for="login">Логин</label>
            <input type="text" id="login" name="login"/>
        </div>
        <div class="field">
            <label for="first_name">Имя</label>
            <input type="text" id="first_name" name="first_name"/>
        </div>
        <div class="field">
            <label for="second_name">Фамилия</label>
            <input type="text" id="second_name" name="second_name"/>
        </div>
        <div class="field">
            <label for="phone">Телефон</label>
            <input type="text" id="phone" name="phone"/>
        </div>
        <div class="field">
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password"/>
        </div>
        <div class="field">
            <label for="passwordAgain">Пароль (еще раз)</label>
            <input type="password" id="passwordAgain" name="passwordAgain"/>
        </div>
        <button>Зарегистрироваться</button>
        <a>Войти</a>
    </form>
</main>
